


<div class="flex items-center flex-col bg-slate-400">
  <div class="flex items-center justify-center mt-20 gap-8 bg-slate-700 w-80 no-error-space">
    <mat-form-field SubscriptSizing="dynamic" hideRequiredMarker="true" errorState="false" >
      <mat-label>Clearable input</mat-label>
      <input matInput errorState="false" type="text">
    </mat-form-field>
    <button mat-raised-button>Basic</button>
  </div>

  <form [formGroup]="form" class="flex items-start w-80 flex-col">
    <mat-selection-list #shoesList [formControl]="shoesControl" name="shoes" multiple="false" class="w-full">
      @for (shoe of shoes; track shoe) {
        <mat-list-option [value]="shoe.value">{{shoe.name}}</mat-list-option>
      }
    </mat-selection-list>
    <p>
       Option selected: {{shoesControl.value ? shoesControl.value[0] : 'None'}}
    </p>
  </form>

</div>

